// Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// fonts
@import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Pacifico);


* { @include box-sizing(border-box); }

$page-width        :  960px;
$large-avatar      :  250px;
$primary-font      :  'Pacifico', Tahoma, sans-serif;
$secondary-font    :  "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

$primary-color     :  #871F78;
$hover-shadow      :  #CC00FF;

body {
  background: #F5F5DC;
  font-family: $secondary-font;
  color: #333;
  margin: 0;
}

header {
    margin:auto;
    width:100%;
    font-family: $primary-font;
    font-size: 3.0em;
}
.container {
  max-width: $page-width;
  @include outer-container;

  div.list {
    @include span-columns (12);
    box-shadow: $hover-shadow 0 0 20px 20px;
    margin: 0 20px 0 20px;
    padding: 0 0 0 35px;
  }

  div.result {
    @include span-columns(4);
    margin:0;
  }

  section.vine-choices {
    @include span-columns(10);
    @include shift(1);
    background-color: #f0f0f0;
    box-shadow: black 0 0 30px 10px;
    padding: 30px;

    div.vine-selection-entry
    {
          @include span-columns(4);

    }

    img.vine-avatar-large
    {
        width:225px;
        height:225px;
        border-radius:75px;
    }

    p.vine-selection-name
    {
        @extend h2;
        text-align:center;
        clear:left;
    }



  }

}



h1 {
    @include span-columns(11 of 11);
    font-family: $primary-font;
    font-size: 3.5em;
    font-weight: normal;
    color: $primary-color;
    display: block;
    text-align: center;
    margin: 25px 0 35px 0;
    span.char1 { letter-spacing: 0.5px; }
    span.char2 { letter-spacing: 0.5px; }
    span.char3 { letter-spacing: 2.0px; }
    span.char4, span.char5, span.char6, span.char7 {
      color: $hover-shadow;
      letter-spacing: 0.5px;
    }
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;

  }


h2 {
    font-family: $secondary-font;
    letter-spacing: .18em;
    font-size: 1.3em;
    -webkit-margin-before: 0.0;
    -webkit-margin-after: 0.0;
    padding: 10px 2px 10px 2px;
    text-align: center;
}

p {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

a {
    text-decoration:none;
    color:inherit;
}

ul, menu, dir {
    padding: 0;
  }

li
  {
    list-style: none;
    -webkit-margin-before: 0em;
-webkit-margin-after: 0em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
-webkit-padding-start: 0px;
  }

nav.hor-nav {
  text-align:center;
}

.vine-selection-button {
    @include button(shiny, $primary-color);
    color: whitesmoke;
    margin: 12.5px 37.5px 12.5px 37.5px;
    width: 150px;
    font-family: $primary-font;
    font-size: 2.0em;
  }

.vine-selection-button:hover {
    @include button(shiny, $hover-shadow);
  }




// VIDEO LIST VIEW

.list {
  .result {
    position: relative;

    .vine-embed {
      @include size(225px 225px);
      box-shadow: $primary-color 0 0 8px 8px;
    }
    .result-overlay {
      opacity: .05;
      z-index: 10000;
      position: absolute;
      top: 0;
      left: 0;
      height: 150px;
      width: 300px;
    }
  }

}


// SINGLE VIDEO VIEW
// NEAT not playing nice with embed
.video {
  // @include span-columns(12);
  padding: 0 10px 0 10px;
  float:left;
  .vine-embed{
    // @include span-columns(9);
    @include size(600px 600px);
    box-shadow: $hover-shadow 0 0 8px 8px
  }
  .video-sidebar {
    // @include span-columns(3 of 12);
    width: 340px;
    float:right;
    box-shadow: #000 0 0 8px 8px;
    padding: 0px 20px 0px 20px;
    height:600px;

    .username {
      color: $primary-color;
      padding: 25px;
      font-size: 2.5em;
      height: 150px;
      font-weight: bold;
    }
    .description {
      padding: 25px;
      font-size: 2em;
      max-height: 300px;
    }
  }
  .vine-single-menu-button {
      @include button(shiny, $primary-color);
      clear:both;
      color: whitesmoke;
      margin: 12.5px 37.5px 12.5px 37.5px;
      width: 225px;
      font-family: $primary-font;
      font-size: 1.5m;
  }
  .vine-single-menu-button:hover {
      @include button(shiny, $hover-shadow);
    }
}
